@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff
}
#header {
  width: 100%;
  height: 130px;
  background: #26644F;
  border-bottom:  4px solid #17382d;
}

p {
  font-size: 25px;
  font-family: "Rubik", sans-serif;
  color: #fff;
  text-align: center;
  position: relative;
  top: 10px
}

#oblast {
  font-size: 14px;
  position: relative;
  top: 20px
}

#nav {
  list-style: none;
  display: block;
  float: left;
  height: 50px;
  width: 50%;
  margin-left: 25%;
  text-align: center;


}

#nav li {
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-size: 20px;
  display: inline;
  background: #26644F;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
  border-bottom:  4px solid #17382d;
  border-left:  4px solid #17382d;
  border-right:  4px solid #17382d;
}

#nav li:hover {
  color: #fff;
  background: #21a377;
  border-radius: 0 0 5px 5px;
}

#nav li a {
  color: #fff;
	text-decoration: none;
	text-align: center;
}

#nav li:not(:last-of-type) {

}

#heading {
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 130px;
  background: #26644F;
  border-bottom:  4px solid #17382d;
}

#heading p {
  padding: 50px;
}

.block {
  width: 600px;
  background: #26644F;
  border: 4px solid #17382d;
  border-radius: 50px;
  margin-left: 50%;
  position: relative;
  right: 300px;
  top: 10px;
  margin-bottom: 15px;
}



#img {
  width: 250px;
  height: auto;
  border:  4px solid #17382d;
  border-radius: 10%;
  margin-left: 175px;
  margin-top: 15px;

}

#img3 {
  width: 400px;
  height: auto;
  border:  4px solid #17382d;
  border-radius: 10%;
  margin-left: 100px;
  margin-top: 15px;

}

#img4 {
  width: 200px;
  height: auto;
  border:  4px solid #17382d;
  border-radius: 10%;
  margin-left: 95px;
  margin-top: 15px;


}

#img5 {
  width: 200px;
  height: auto;
  border:  4px solid #17382d;
  border-radius: 10%;
  margin-left: 10px;
  margin-top: 15px;

}

.text_block {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 15px;

}

#footer {
  width: 100%;
  height: 130px;
  background: #26644F;
  border-bottom: 4px solid #17382d;
  margin-top: 50px;
  float: left;
}

#footer p {
  text-align: left;
  font-family: "Rubik", sans-serif;
  color: #000;
  font-size: 20px;
  margin-left: 50%;
  position: relative;
  right: 350px;
}
